.main{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  
}

.container {
  width: 100%;
  max-width: 343px;
  margin-inline: auto;
  height: 100vh;
}

button{
  max-width: 320px;
}

.icon{
  width: 16px;
  height: 16px;
}