.main{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  
}

.container {
  width: 100%;
  max-width: 343px;
  margin-inline: auto;
  /* height: 100vh; */
}

button{
  max-width: 320px;
  cursor: pointer;
}

.icon{
  width: 16px;
  height: 16px;
}

.rdw-editor-wrapper {
  border: 2px solid #06d5cd;
  border-radius: 10px;
  overflow: hidden;
}

.rdw-editor-main {
  height: 120px;
}